<!DOCTYPE html>
<html>
<head>
    <title th:text="${pageTitle}">Chat</title>
    <!--
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="6Xhb_sol8htaCkqahEE5JX64bJ_e3mr4XvIw3NfTGPSBNfo87BfMhgz_vHAJI8GBVmESExI8o4L4YjBRUqGAzg" />
    <link rel="stylesheet" media="all" href="/assets/application-4f5c27507cda76c0273f0eea8dcc95a636293c14b31f405406b36fbe56474c12.css" />
    <script src="/assets/turbo-74b1754c9c6dc2d4736cb337b9d8a43684259ea126da79f30adf0f351a840fe6.js" type="module"></script>
    <script src="/assets/stimulus/libraries/es-module-shims-c4493e644afb380789c8f0d44266900b8631ec442f8f95886997dac9f98893f1.js" type="module"></script>
    <script type="importmap-shim" src="/assets/importmap-dce2b48fd13240ec533714e3c791e38e3b84ac9ee529820b87b9d26dbec5b58f.json"></script>
    <script src="/assets/stimulus/libraries/stimulus-9788c927f1b835567a6d8cc0cc498fe17439ad175946131572a387cbcaa3d3ee.js" type="module-shim"></script>
    <script src="/assets/stimulus/loaders/autoloader-509ae5af683e0569f53f8d5579fdf5bf52fea27382db2ab692a6413626253ff4.js" type="module-shim"></script>
    -->
</head>
<body>
<div th:replace="content"></div>
</body>
</html>