<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<section>
<p id="notice"></p>

<h1>Rooms</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.name}"></td>
        <td></td>
        <td></td>
        <td></td>
        <!--
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
    </tr>
    </tbody>
</table>

<br>

<a href="/rooms/new">New Room</a>
</section>
</html>